{% extends 'base.html.twig' %}
{% block title %}Llibres{% endblock %}
{% block body %}
<h1>Biblioteca Personal David Ivars Oliver</h1>

<p>Pàgina d'inici</p>
<p>Projecte Symfony 2n DAW</p>
<p>Curs 20/21</p>

{% for llibre in llibres %}

<li><a href="llibre/{{llibre.isbn}}"> {{ llibre.titol }} </a> 
<a href="llibre/editar/{{llibre.isbn}}"><img src="{{ absolute_url(asset('img/edit.png')) }}" width="50" height="50"/></a>
</li>

<br>
{% endfor %}

<img src="{{ absolute_url(asset('img/llibre.png')) }}"/>

{% endblock %}